<%- include('../partials/head.ejs') %>

<body>


    <div class="container">
        <!-- title -->
        <div class="mt-4 p-5 bg-warning text-white rounded">
            <h1><%= title %></h1>
        </div>
        <!-- nav -->
        <%- include('../partials/menu.ejs') %>

        <!-- reminders -->
        <div class="row">
            <% data.forEach((meeting, index) => { %>
                <div class="col-md-4 mb-4"> 
                    <p class="note">
                        <img src="/images/remind.png" class="img-fluid mb-2" alt="Reminder">
                        <% if (meeting.mandatory) { %>
                            <span class="badge bg-danger">Attendance Mandatory!</span>
                        <% } %> 
                        <br>
                        <strong>Location:</strong> <%= meeting.location %><br>
                        <strong>Date & Time:</strong> <%= meeting.dateTime %><br>
                        <strong>Topic:</strong> <%= meeting.topic %>
                        <br> 
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#parkingmodal<%= index %>">
                            Parking
                        </button>
                    </p>
                </div>
                <%- include('../partials/parkingmodal.ejs', { meeting: meeting, index: index }) %>


            <% }) %>
            
        </div>
        <%- include('../partials/footer.ejs') %>

    </div>

    
</body>
</html>
